.header {
  margin-bottom: 2rem;
  background: $dark-txt;
}

.main-nav_toggle {
  color: $dark-txt;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  padding: .5rem 0;
  text-decoration: none;
  background: transparent;
  border: 0;
  z-index: 50;
  top: 0;
  right: 0;
  min-width: 5rem;
  &__active {
    color: $light-txt;
  }
}

.main-nav {
  text-align: center;
  li {
    width: 33%;
  }
  a {
    display: block;
    color: $light-txt;
    line-height: 50px;
    font-size: 2.8rem;
    padding: 0 1rem;
  }
  a:hover {
    background: lighten($dark-txt, 5%);
  }
}

.main-nav.main-nav__active {
  max-height: 50vh;
  opacity: 1;
}