.main {
  flex-grow: 2;
  .grid-item {
    margin-bottom: calc(2vh);
  }
}

.main-section {
  border-bottom: 2px solid lighten($dark-txt, 5%);
  padding: 2rem 0;
  &:last-child {
    border-bottom: 0;
  }
}

/* About */

.photo {
  border-radius: .5rem;
  margin-bottom: 1rem;
  img {
    object-fit: contain;
    border-radius: .5rem;
  }
}

.socials {
  text-align: center;
  a {
    font-size: 2.4rem;
    color: $dark-txt;
    padding: .5rem;
    &:hover {
      color: $accent-color;
    }
  }
}

.about-description {
  font-size: 2rem;
}

/* Summary */

.summary {

}

.summary-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Portfolio */

.portfolio {
  background: lighten($dark-txt, 10%);
  padding-bottom: 5rem;
}

.portfolio-item {
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin: 0 0 1rem;
  background: darken($main-color, 15%);
  height: 400px;
  transition: transform .2s;
  img {
    width: 100%;
    vertical-align: middle;
  }
  &_description {
    position: absolute;
    bottom: calc(44px - 35%);
    left: 0;
    width: 100%;
    height: 35%;
    padding: 0 .5rem;
    transition: bottom .2s, background .3s;
    background: rgba(50,50,50,.6);
    color: $light-txt;
  }
  &_description a {
    font-size: 2.2rem;
    font-weight: bold;
    color: $light-txt;
    text-decoration: none;
    line-height: 2;
    margin-bottom: 1rem;
  }
}

.portfolio-item:hover {
  //transform: scale(.98);
  .portfolio-item_description {
    bottom: 0;
    background: $dark-txt;
    box-shadow: 0 0 2rem darken($dark-txt, 15%);
  }
}