/* Colors */

$main-color: #ffefcc; // ffe0bd
$accent-color: #ce281d;
$light-txt: #fff;
$dark-txt: #323232;

/* Sizes */
$main-font-size: 63.5%;

/*
ion-ios-menu
ion-ios-close
ion-logo-linkedin
ion-logo-facebook
ion-logo-googleplus
ion-logo-github
ion-logo-skype
ion-ios-arrow-up
*/